<app-navbar></app-navbar>
<div class="col-md-8 col-md-offset-3" style="margin: auto">
<div class="card">
    <h4 class="card-header text-center text-white" style="background-color: #343a40!important;">Change Your Password</h4>
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <h4><b>Old Password:</b></h4>  
            </div> 
            <div class="col-md-6">    
                <input class="form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="Enter old password" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <h4><b>New Password:</b></h4>  
            </div> 
            <div class="col-md-6">    
                <input class="form-control" type="password" [(ngModel)]="user.npassword" name="npassword" placeholder="Enter new password" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <h4><b>Confirm New Password:</b></h4>  
            </div> 
            <div class="col-md-6">    
                <input class="form-control" type="password" [(ngModel)]="temp.ncpassword" name="ncpassword" placeholder="Confirm new password" required>
            </div>
            <div class="col-md-1"></div>
        </div>
        
            
    
<br>
<div class="text-center">
    <button class="btn btn-warning" (click)="onPasswordChange()">Submit</button>
</div>
<br><br>
</div>
</div>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header text-center">				
                    <h4 class="modal-title">Password is changed!</h4>	
                </div>
                <div class="modal-body">
                    <p class="text-center">Your have changed your password successfully.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal" (click)="return()">OK</button>
                </div>
            </div>
        </div>
    </div>  