<div class="sidenav text-center" style="background-color: #343a40!important;">
    <ul class="sidebar navbar-nav"   style="font-size: 12px"> 
      <li class="nav-item">
              <a class="nav-link text-white" >
                <span>Welcome Admin</span>
              </a>
      </li>
  
      <li class="nav-item">
              <a class="nav-link text-white" >
                <span>{{ adminPostData.name }}</span>
              </a>
      </li>
      <li class="nav-item">
              <a class="nav-link text-white" >
                <span>{{ adminPostData.email }}</span>
              </a>
      </li>
      <br>
      <li class="nav-item">
              <button class="btn btn-warning btn-sm"  routerLink="/newEmployee">Register New Employee</button>  
      </li>
      <br>
      <li class="nav-item">
          <button class="btn btn-success btn-sm"  (click)="changePassword()">Change Password</button>  
      </li>
      <br>
      <li class="nav-item">
          <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
      </li>
    </ul>
  
  </div> 
  